html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

body {
    background-color: rgb(38, 44, 54);
}

#title {
    height: 60px;
    font-size: 25px;
    margin: 30px 0 0 50px;
    text-shadow: 1px 1px 8px #fff ;
}

#nav_main {
    background-color: rgba(204, 204, 204, 0.05);
    margin: 10px 30px;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

#nav_main a{
    text-decoration: none;
    display: inline-block;
    height: inherit;
    width: 100%;
}
#nav_main a:hover{
    color: #fff;
}
#nav_main a:active{
    color: #fff;
}
#nav_main a:visited{
    color: #fff;
}


#nav_main ul {
    margin: 0;
    padding: 0;
}

#nav_main li {
    margin: 0;
    padding: 0;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    list-style: none;
}

#nav_main li:hover{
    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
    border-radius: 10px;
}

.tabs {
    top: 5%;
    left: 280px;
    right: 0;
    height: fit-content;
    width: 83%;
    position: absolute;
}

.tabs .tabs_cell{
    display: none;
}

.tabs .tabs_cell:target{
    display: block;
}

.tabs_cell{
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.05);
    height: fit-content;
    width: 100%;
    margin-right: 20px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    padding-bottom: 1px;
}

#input_db_name {
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    border: 0px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    width: 40%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 10px;
}

#show_tables {
    color: #fff;
    padding: 5px;
    font-size: 15px;
    border: 0px solid;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: #2d5c7f;
}

#show_tables:hover{
    cursor: pointer;
    background-color: #11698e;
}

.menu_db {
    float: left;
    width: 15%;
    height: 600px;
    /* background-color: #000; */
}

.menu_db a {
    display: block;
    font-size: 18px;
    margin: 40% 10% 10% 10%;
}

.menu_db select{
    font-size: 18px;
    width: 60%;
    padding: 7px 0 7px 10px;
    margin: 0 20% 0 20%;
}

#select_tables:hover{
    cursor: pointer;
}

<<<<<<< HEAD
option:hover{
    cursor: pointer;
}

=======
>>>>>>> b0def8ce0726975449d59d216678bdaedd005a44
#table_original_data{
    height: 600px;
}

#tab_1 ::-webkit-scrollbar{
    width: 12px;
    height: 12px;
    background-color: #ffffff18;
    border-radius: 8px;
}

#tab_1 ::-webkit-scrollbar-thumb{
    border-radius:10px;
    /* box-shadow:inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #2296c7;
}

#table_original_data td {
    white-space: nowrap;
    padding: 10px;
}

#table_filter_data td {
    white-space: nowrap;
    padding: 10px;
}

#tab_2{
    padding: 10px;
}

#div_filter {
    height: fit-content;
    width: 18%;
    background-color: #2d5c7f44;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

#div_charts {
    width: 79%;
    margin-left: 10px;
    height: fit-content;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#div_filter a {
    font-size: 15px;
    display: block;
    margin: 10px 10px 5px 10px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tab_2 ::-webkit-scrollbar{
    width: 12px;
    height: 12px;
    background-color: #ffffff18;
    border-radius: 8px;
}

#tab_2 ::-webkit-scrollbar-thumb{
    border-radius:10px;
    /* box-shadow:inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #2296c7;
}

#data_filter, #data_ordered, #value_filter, #func_filter {
    /* background-color: #000; */
    height: fit-content;
    width: 100%;
}

#features_filter, #value_filter{
    max-height: 200px;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#data_filter .checkbox{
    display: block;
}

.checkbox input{
    margin-right: 10px;
}

.line {
    height: 0;
    width: 100%;
    border: 0.5px solid #ffffff44;
    margin: 0;
}

#table_features {
    margin: 20px 10px;
    width: 100%;
    height: fit-content;
}

#table_features td{
    display: block;
    float: left;
    width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
}

#table_features td input{
    font-size: 15px;
    width: 100%;
}

#select_order, #select_base {
    font-size: 16px;
    padding: 5px 10px;
    width: 80%;
    margin: 10px 10%;
}

.radio input{
    margin: 0 10px;
}

#paint_tables {
    color: #fff;
    font-size: 16px;
    width: 70%;
    margin: 20px 15%;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #2d5c7f;
}

#paint_tables:hover{
    cursor: pointer;
    background-color: #11698e;
}

#div_all_charts {
    height: fit-content;
}

.charts_par {
    position: relative;
    margin: 1%;
    background-color: #2d5c7f33;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    height: fit-content;
    width: 95%;
    float: left;
}

.charts {
    height: 400px;
    width: 100%;
}

.del_chart {
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 0;
}

.del_chart:hover {
    cursor: pointer;
    color: #6bcef8;
}